

.box {
    width: 50%; /* Set width of the box */
    margin: 20px auto; /* Center the box */
    padding: 10px; /* Padding inside the box */
    border: 5px solid black; /* Border around the box */
    background-color: #fff; /* Background color */
   
}

h1 {
    text-align: center;
}
